*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ff4d4d;
    background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title{
    color:  white;
    font-weight: bold;
    font-style: italic;
}
.container{
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.change{
    width: 100px;
    height: 33px;
    font-weight: bold;
    background-color: transparent;
    border: none;

}
.change:hover{
    background-color: brown!important;
    font-weight: bold;
    cursor: pointer;
}
.change:active{
    zoom: 1.2;

}

