*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: #00bf8f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #001510, #00bf8f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #001510, #00bf8f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
overflow: hidden;
}
.search{
position: relative;
height: 50px;
}

.search .input{
background-color: #fff;
border: 0;
font-size: 16px;
padding: 15px;
height: 50px;
width: 50px;
transition: width 0.3s ease;
}

.btn{ background-color: #fff;
color: brown;
border: none;
font-size: 24px;
position: absolute;
top: 0;
left: 0;
height: 50px;
width: 50px;}

.input:focus,.btn:focus{
    outline: none;
}

.active .input{
    width: 200px;
}

.active .btn{
    transform:  translateX(198px);
}